src/App/obj/App.fable-temp.csproj.nuget.dgspec.json
src/App/obj/App.fable-temp.csproj.nuget.g.props
src/App/obj/App.fable-temp.csproj.nuget.g.targets
src/App/obj/App.fsproj.nuget.dgspec.json
src/App/obj/App.fsproj.nuget.g.props
src/App/obj/App.fsproj.nuget.g.targets
src/App/obj/project.assets.json
src/App/obj/project.nuget.cache
src/App/obj/Debug/netstandard2.0/App.AssemblyInfo.fs
src/App/obj/Debug/netstandard2.0/App.AssemblyInfoInputs.cache
src/App/obj/Debug/netstandard2.0/App.assets.cache
src/App/obj/Debug/netstandard2.0/App.fsproj.AssemblyReference.cache
src/App/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
src/App/obj/Release/netstandard2.0/App.fable-temp.AssemblyInfo.cs
src/App/obj/Release/netstandard2.0/App.fable-temp.AssemblyInfoInputs.cache
src/App/obj/Release/netstandard2.0/App.fable-temp.assets.cache
src/App/obj/Release/netstandard2.0/App.fable-temp.csproj.FileListAbsolute.txt
src/App/obj/Release/netstandard2.0/App.fable-temp.GeneratedMSBuildEditorConfig.editorconfig
